In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
from scipy.stats import chi2_contingency
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, precision_recall_fscore_support
import warnings
import os

In [2]:
# Load the dataset
a1 = pd.read_excel("Unseen_Dataset.xlsx")
df1 = a1.copy()

In [3]:
cols_in_df = list(df1.columns)
# cols_in_df.pop(42)

In [4]:
df_unseen = a1[cols_in_df]

In [5]:
df_unseen['MARITALSTATUS'].unique()    
df_unseen['EDUCATION'].unique()
df_unseen['GENDER'].unique()
df_unseen['last_prod_enq2'].unique()
df_unseen['first_prod_enq2'].unique()

array(['PL', 'ConsumerLoan', 'others', 'AL', 'HL', 'CC'], dtype=object)

In [6]:
df_unseen.loc[df_unseen['EDUCATION'] == 'SSC',['EDUCATION']]              = 1
df_unseen.loc[df_unseen['EDUCATION'] == '12TH',['EDUCATION']]             = 2
df_unseen.loc[df_unseen['EDUCATION'] == 'GRADUATE',['EDUCATION']]         = 3
df_unseen.loc[df_unseen['EDUCATION'] == 'UNDER GRADUATE',['EDUCATION']]   = 3
df_unseen.loc[df_unseen['EDUCATION'] == 'POST-GRADUATE',['EDUCATION']]    = 4
df_unseen.loc[df_unseen['EDUCATION'] == 'OTHERS',['EDUCATION']]           = 1
df_unseen.loc[df_unseen['EDUCATION'] == 'PROFESSIONAL',['EDUCATION']]     = 3

In [7]:
df_unseen['EDUCATION'].value_counts()
df_unseen['EDUCATION'] = df_unseen['EDUCATION'].astype(int)
df_unseen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   pct_tl_open_L6M            100 non-null    float64
 1   pct_tl_closed_L6M          100 non-null    float64
 2   Tot_TL_closed_L12M         100 non-null    int64
 3   pct_tl_closed_L12M         100 non-null    float64
 4   Tot_Missed_Pmnt            100 non-null    int64
 5   CC_TL                      100 non-null    int64
 6   Home_TL                    100 non-null    int64
 7   PL_TL                      100 non-null    int64
 8   Secured_TL                 100 non-null    int64
 9   Unsecured_TL               100 non-null    int64
 10  Other_TL                   100 non-null    int64
 11  Age_Oldest_TL              100 non-null    int64
 12  Age_Newest_TL              100 non-null    int64
 13  time_since_recent_payment  100 non-null    int64
 14  max_recent_level_of_deliq  100 non-null    int64
 15  num_deliq_6_12mts          100 non-null    int64
 16  num_times_60p_dpd          100 non-null    int64
 17  num_std_12mts              100 non-null    int64
 18  num_sub                    100 non-null    int64
 19  num_sub_6mts               100 non-null    int64
 20  num_sub_12mts              100 non-null    int64
 21  num_dbt                    100 non-null    int64
 22  num_dbt_12mts              100 non-null    int64
 23  num_lss                    100 non-null    int64
 24  recent_level_of_deliq      100 non-null    int64
 25  CC_enq_L12m                100 non-null    int64
 26  PL_enq_L12m                100 non-null    int64
 27  time_since_recent_enq      100 non-null    int64
 28  enq_L3m                    100 non-null    int64
 29  NETMONTHLYINCOME           100 non-null    int64
 30  Time_With_Curr_Empr        100 non-null    int64
 31  CC_Flag                    100 non-null    int64
 32  PL_Flag                    100 non-null    int64
 33  pct_PL_enq_L6m_of_ever     100 non-null    float64
 34  pct_CC_enq_L6m_of_ever     100 non-null    float64
 35  HL_Flag                    100 non-null    int64
 36  GL_Flag                    100 non-null    int64
 37  MARITALSTATUS              100 non-null    object
 38  EDUCATION                  100 non-null    int32
 39  GENDER                     100 non-null    object
 40  last_prod_enq2             100 non-null    object
 41  first_prod_enq2            100 non-null    object
dtypes: float64(5), int32(1), int64(32), object(4)
memory usage: 32.6+ KB

In [8]:
df_unseen_encoded = pd.get_dummies(df_unseen, columns=['MARITALSTATUS','GENDER', 'last_prod_enq2' ,'first_prod_enq2'])

In [9]:
df_unseen_encoded.info()
k = df_unseen_encoded.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 54 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   pct_tl_open_L6M               100 non-null    float64
 1   pct_tl_closed_L6M             100 non-null    float64
 2   Tot_TL_closed_L12M            100 non-null    int64
 3   pct_tl_closed_L12M            100 non-null    float64
 4   Tot_Missed_Pmnt               100 non-null    int64
 5   CC_TL                         100 non-null    int64
 6   Home_TL                       100 non-null    int64
 7   PL_TL                         100 non-null    int64
 8   Secured_TL                    100 non-null    int64
 9   Unsecured_TL                  100 non-null    int64
 10  Other_TL                      100 non-null    int64
 11  Age_Oldest_TL                 100 non-null    int64
 12  Age_Newest_TL                 100 non-null    int64
 13  time_since_recent_payment     100 non-null    int64
 14  max_recent_level_of_deliq     100 non-null    int64
 15  num_deliq_6_12mts             100 non-null    int64
 16  num_times_60p_dpd             100 non-null    int64
 17  num_std_12mts                 100 non-null    int64
 18  num_sub                       100 non-null    int64
 19  num_sub_6mts                  100 non-null    int64
 20  num_sub_12mts                 100 non-null    int64
 21  num_dbt                       100 non-null    int64
 22  num_dbt_12mts                 100 non-null    int64
 23  num_lss                       100 non-null    int64
 24  recent_level_of_deliq         100 non-null    int64
 25  CC_enq_L12m                   100 non-null    int64
 26  PL_enq_L12m                   100 non-null    int64
 27  time_since_recent_enq         100 non-null    int64
 28  enq_L3m                       100 non-null    int64
 29  NETMONTHLYINCOME              100 non-null    int64
 30  Time_With_Curr_Empr           100 non-null    int64
 31  CC_Flag                       100 non-null    int64
 32  PL_Flag                       100 non-null    int64
 33  pct_PL_enq_L6m_of_ever        100 non-null    float64
 34  pct_CC_enq_L6m_of_ever        100 non-null    float64
 35  HL_Flag                       100 non-null    int64
 36  GL_Flag                       100 non-null    int64
 37  EDUCATION                     100 non-null    int32
 38  MARITALSTATUS_Married         100 non-null    bool
 39  MARITALSTATUS_Single          100 non-null    bool
 40  GENDER_F                      100 non-null    bool
 41  GENDER_M                      100 non-null    bool
 42  last_prod_enq2_AL             100 non-null    bool
 43  last_prod_enq2_CC             100 non-null    bool
 44  last_prod_enq2_ConsumerLoan   100 non-null    bool
 45  last_prod_enq2_HL             100 non-null    bool
 46  last_prod_enq2_PL             100 non-null    bool
 47  last_prod_enq2_others         100 non-null    bool
 48  first_prod_enq2_AL            100 non-null    bool
 49  first_prod_enq2_CC            100 non-null    bool
 50  first_prod_enq2_ConsumerLoan  100 non-null    bool
 51  first_prod_enq2_HL            100 non-null    bool
 52  first_prod_enq2_PL            100 non-null    bool
 53  first_prod_enq2_others        100 non-null    bool
dtypes: bool(16), float64(5), int32(1), int64(32)
memory usage: 31.0 KB

In [10]:
import pandas as pd
import joblib

# Load the pickled model
model = joblib.load("model.pkl")

In [11]:
y_pred_unseen = model.predict(df_unseen_encoded)

In [12]:
a1['Approved_Flag'] = y_pred_unseen

In [13]:
a1.sample(10)

,pct_tl_open_L6M,pct_tl_closed_L6M,Tot_TL_closed_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,CC_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,...,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,HL_Flag,GL_Flag,MARITALSTATUS,EDUCATION,GENDER,last_prod_enq2,first_prod_enq2,Approved_Flag
36,0.000,0.000,0,0.000,0,0,0,0,0,1,...,0.0,0.0,0,0,Married,12TH,M,PL,others,0
50,0.000,0.556,5,0.556,0,0,0,1,1,8,...,0.0,0.0,0,0,Married,12TH,F,others,others,0
46,0.111,0.111,2,0.222,0,0,0,0,0,9,...,0.0,0.0,0,0,Single,UNDER GRADUATE,F,PL,ConsumerLoan,0
72,0.091,0.091,4,0.364,0,0,0,0,4,7,...,0.5,0.0,0,0,Single,GRADUATE,M,others,others,0
58,1.000,0.000,0,0.000,0,0,0,0,0,1,...,0.0,0.0,0,0,Single,SSC,M,ConsumerLoan,ConsumerLoan,0
49,0.000,0.000,0,0.000,0,0,0,0,1,0,...,0.0,0.0,0,0,Single,12TH,M,ConsumerLoan,others,1
52,0.000,0.500,1,0.500,0,0,0,0,1,1,...,0.0,0.0,0,0,Married,SSC,F,ConsumerLoan,others,0
65,0.000,0.000,0,0.000,0,0,0,0,0,2,...,0.0,0.0,0,0,Married,SSC,M,others,others,0
61,0.500,0.000,0,0.000,0,0,0,0,2,0,...,0.0,0.0,0,0,Married,SSC,F,others,ConsumerLoan,1
27,0.000,0.000,0,0.000,0,0,0,0,1,0,...,0.0,0.0,0,0,Married,GRADUATE,M,others,others,0

In [14]:
a1.to_excel("Final_Output.xlsx",index =False)

In [17]:
a1["Approved_Flag"].value_counts()

Approved_Flag
0    86
1    11
2     3
Name: count, dtype: int64